<li>
	{{burger_type}}

	<button class="change-ate" data-id="{{id}}" data-neweat="{{ate}}">
		{{#if ate}}{{else}}Eat It{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Remove</button>
</li>